@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600;700&family=Pacifico&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
*{
    color: #f5f0e1;
}


.navbar{
    position: relative;
    z-index: 99;
}

a.riski{
    color: #1e3d59 !important;
    font-family: 'Edu NSW ACT Foundation' !important;
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 20px;
    color: #f5f0e1 !important;
}

.menu{
    margin-left: 50%;
}
.features{
    margin-left: 15px;
    margin-right: 15px;
}

.jumbotron{
    background-color: #1e3d59;
    height: 600px;
    margin-top: -80px;
}
.riskidn{
    color: #ffc13b !important;
}

.jumbotron2{
    background-color: #f5f0e1;
    position: absolute;
    margin-right: auto;
    width: 30%;
    margin-top: -840px;
    height: 800px;
    border:20px dashed #1e3d59;
    border-left: none;
}

.content2{
    z-index: 99;
}

.moon{
    margin-top: 90%;
    margin-left: 10%;
}

.note{
    width: 250px;
    margin-left: 70%;
    border-radius: 30%;
    margin-top: -30%;
    border:15px dashed #ffc13b;
}

.note2{
    width: 0px;
    border:15px dashed #ffc13b;
}

.content{
    margin-top: 13%;
    margin-left: 50%;
}

.svg {
    margin-top: -35px;
    margin-bottom: -90px;
}

.main{
    margin-top: 30px;
    height: 850px;
    background-color: #ffc13b;
    z-index: 99;
    position: relative;
}
.ladder{
    position: absolute;
    margin-left: -40%;
    margin-top: -100px;
}

#project{
    text-align: center;
    color: #1e3d59 ;
}


.cardHobies{
    width: 300px;
    height: 250px;
    background-color: #1e3d59 !important;    
    font-family: 'Roboto Mono', monospace !important;
    border-radius: 30%;
    border: 8px solid #f5f0e1;

}
.card-header{
    background-color: #f5f0e1;
    color: #1e3d59;
    font-size: 20px;
}
.card-title, .card-text{
    font-size: 15px;
}


.article{
    background-color: #f5f0e1;
    margin-top: -40px;
    height: 850px;
}

.plane{
    margin-left: 75%;
    margin-bottom: 60px;
    margin-top: -200px;

}

.container1{
    margin-top: -70px;
}

.mygoals{
    text-align: center;
    width: 400px;
    border: 10px dashed #ff6e40;
    box-shadow: 15px 15px #ffc13b;
}

.text{
    color: #1e3d59 !important;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 50px;
}
.text2{
    color: #1e3d59 !important;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 20px;
    line-height: 200%;
}


.description{
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 50px;
}

.footer{
    background-color: #1e3d59;
    height: 700px;
}

.footer-content{
    margin-left: 2%;
    height: 62%;
    width: 96%;
    background: #ffc13b;
    border-radius: 10%;
    border: 10px dashed #ff6e40;
    display: flex;
    align-items: center;
    color: #1e3d59;
}
.cpy{
   text-align: center ;
   margin-top: 10px;
}

@media screen and (min-width:800px) and (max-width:1105px){
    .jumbotron{
        margin-top: -100px;
    }
    a.riski{
        font-size: 20px;
    }
    .moon{
        margin-top: 120%;
    }
    .note{
        margin-top: -10%;
        width: 200px;
    }
    .description{
        font-size: 35px;
    }
    .menu{
        margin-left: 40%;
    }
    .ladder{
        width: 300px;
        height: 300px;
        margin-left: -35%;
        margin-top :-130px; ;
    }
    .plane{
        margin-top: -150px;
    }
}


@media screen and (max-width:991px){
    .mygoals{
        margin-bottom: 20px;
    }
    .article{
        height: 1000px;
    }
    .moon{
        margin-top: 150%;
    }
    .plane{
        margin-top: -120px;
    }
    .container1{
        height: 50%;
    }
}




@media screen and (min-width:675px) and (max-width:799px){
    .jumbotron2{
        display: none;
    }
    .jumbotron{
        margin-top: -150px;
        height: 800px;
    }
    
    .note{
        margin: auto;
        width: 200px !important;
    }
    a.riski{
        color: #f5f0e1 !important;
    }
    .note2{
        width: 250px;
        margin: auto;
        border-radius: 30%;
        border:15px dashed #ffc13b;
    }
    

.content{
    margin-top: 20%;
    margin-left: auto;
}
.navbar{
    background-color: #1e3d59 !important;
}

.ladder{
    width: 260px;
    height: 260px;
    margin-left: -40%;
    margin-top :-130px; ;
}

.cardHobies{
    margin-bottom:15px;
    width: 400px;
}
.main{
    height: 1000px;
}
.plane{
    margin-top: -100px;
    margin-bottom: 100px;
}
.article{
    height: 1200px;
}
}

@media screen and (max-width:674px) {
    .jumbotron2{
        display: none;
    }
    .jumbotron{
        margin-top: -85px;
        height: 750px;
    }
 
    .description{
        font-size: 30px;
    }

    #project{
        margin-top: 40px;
    }

    a.riski{
        color: #f5f0e1 !important;
    }
    .note2{
        width: 250px;
        margin: auto;
        border-radius: 30%;
        border:15px dashed #ffc13b;
    }
    

.content{
    margin-top: 20%;
    margin-left: auto;
}
.navbar{
    background-color: #1e3d59 !important;
}

.ladder{
    width: 160px;
    height: 160px;
    margin-left: -50%;
    margin-top :-105px; ;
}

.cardHobies{
    margin-bottom:15px;
    width: 400px;
}
.main{
    margin-top: -80px;
    height: 1050px;
}
.down{
    width: 60px;
    height: 60px;
}
.plane{
    width: 80px;
    height: 80px;
    margin-top: -70px;
    margin-bottom: 80px;
}
.article{
    margin-top: -10px;
    height: 1250px;
}    
.mygoals{
    width: 250px;
}
a.riski{
    font-size: 15px;
}
.svg{
    margin-top: -50px;
}
}


